header{
    background-size: cover;     
    background-position: center; 
    background-color: rgb(175, 174, 191);               
    margin: 0%;
    padding: 10% 0% 10% 0%;
}





body{
    background-color: whitesmoke;
    color: black;
    font-family: Palatino, Georgia, "Times New Roman";
    font-size: 1.8rem; 
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}



.about-photo { 
    width: 220px; 
    height: auto; 
    float: left; 
    margin: 0% 5% 2% 2%; 
    border-radius: 10%; 
}



.bodytext{
    text-align: left;
    margin: 0% 3% 10% 3%;
    flex: 1;
}



body a {
    color: blue;
    text-decoration: none;
}

.paper-link {
    text-decoration: underline;
}



.educationdetail{
    color: gray;
}



footer {
    background-color: gray;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0% 0% 0% 3%; 
    text-align: left;
    font-family: Arial;
    font-size: 15px; 
}



footer nav ul {
    list-style: none;
    padding: 0vw;
}



footer nav ul li {
    display: inline;
}



footer nav ul li a {

    display: inline-block;           /* 让 a 可以设置内边距 */
    padding: 15px 30px 15px 30px;        /* 边框和字体之间空白，上右下左*/
    margin: 10px 10px 10px 0px;    
    color: white;                     /* 文字颜色 */
    background-color: rgba(255,255,255,0); /* 背景颜色 */
    border: 1px solid white;          /* 白色边框粗细 */
    border-radius: 7px;               /* 圆角按钮 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;                 /* 文字大小 */
    transition: all 0.3s ease;        /* 鼠标悬停动画 */
}




/* 悬停效果 */
footer nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.376); /* 半透明背景 */
    border-color: white;                    /* 可以换成金色边框，呼应银河 */
    cursor: pointer;
    transform: translateY(-1px); /* 👈 向上移动 */
}


