header{
    background-image: url('yuchenhuang.png'); /* 图片路径，可以是本地或网络链接 */
    background-size: cover;     /* 图片铺满整个 header */
    background-position: center; /* 图片居中显示 */
    color: white;                /* 文字颜色白色，保证可读性 */
    margin: 0vw;
    padding: 10% 10% 10% 10%;
    text-align: center;          /* 文字居中 */
    font-family: Palatino;
    font-size: 20px; /* 文字大小，可根据需要调整 */
    position: relative; 
}



.image-credit {
    position: absolute;
    bottom: 0.5%; 
    left: 40%;
    right: 40%;  
    font-family: "Times New Roman";
    font-size: 12px; 
    color: white;   
}



body{
    background-color: whitesmoke;
    color: black;
    font-family: Georgia;
    font-size: 25px; 
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}


.about-photo { 
    width: 150px; /* 图片宽度，可根据需要调整 */ 
    height: auto; 
    float: left; /* 图片浮动到左边 */ 
    margin: 0% 4% 1% 2%; /* 上右下左 */ 
    border-radius: 10%; /* 圆形头像，可选 */ 
}



.bodytext{
    text-align: left;
    margin: 0% 3% 10% 3%;
    flex: 1;
}


body a {
    color: blue;
    text-decoration: none;
}


.educationdetail{
    color: gray;
}


footer {
    background-color: gray;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0% 0% 0% 3%; /* 字体和边界之间的空白，上右下左*/
    text-align: left;
    font-family: Arial;
    font-size: 15px; /* 文字大小，可根据需要调整 */
}



footer nav ul {
    list-style: none;
    padding: 0vw;
}



footer nav ul li {
    display: inline;
}



footer nav ul li a {

    display: inline-block;           /* 让 a 可以设置内边距 */
    padding: 15px 30px 15px 30px;        /* 边框和字体之间空白，上右下左*/
    margin: 10px 10px 10px 0px;    
    color: white;                     /* 文字颜色 */
    background-color: rgba(255,255,255,0); /* 背景颜色 */
    border: 1px solid white;          /* 白色边框粗细 */
    border-radius: 7px;               /* 圆角按钮 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;                 /* 文字大小 */
    transition: all 0.3s ease;        /* 鼠标悬停动画 */
}


/* 悬停效果 */
footer nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.376); /* 半透明背景 */
    border-color: white;                    /* 可以换成金色边框，呼应银河 */
    cursor: pointer;
    transform: translateY(-1px); /* 👈 向上移动 */
}


